// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/dts-v1/;

#include "meson-gxl-s905w-p281.dts"

/ {
	compatible = "amlogic,m302a", "amlogic,s905w", "amlogic,meson-gxl";
	model = "Amlogic Meson GXL (S905L3b) MBH-M302A Box";

	memory@0 {
		device_type = "memory";
		reg = <0x0 0x0 0x0 0x80000000>;
	};
};

/* GPU */
&mali {
	interrupts = <GIC_SPI 160 IRQ_TYPE_LEVEL_HIGH>,
		     <GIC_SPI 161 IRQ_TYPE_LEVEL_HIGH>,
		     <GIC_SPI 162 IRQ_TYPE_LEVEL_HIGH>,
		     <GIC_SPI 163 IRQ_TYPE_LEVEL_HIGH>,
		     <GIC_SPI 164 IRQ_TYPE_LEVEL_HIGH>,
		     <GIC_SPI 165 IRQ_TYPE_LEVEL_HIGH>,
		     <GIC_SPI 166 IRQ_TYPE_LEVEL_HIGH>,
		     <GIC_SPI 167 IRQ_TYPE_LEVEL_HIGH>;

	interrupt-names = "gp", "gpmmu", "pp", "pmu",
			  "pp0", "ppmmu0", "pp1", "ppmmu1";
};

/* eMMC */
&sd_emmc_c {
	status = "okay";
	bus-width = <8>;
	cap-mmc-highspeed;
	mmc-ddr-1_8v;
	mmc-hs200-1_8v;
	max-frequency = <200000000>;
};

/* PHY */
&internal_phy {
	max-speed = <100>;
};

/* ========================= */
/* ✅ 启用 AV 视频 */
/* ========================= */
&cvbs_vdac_port {
	status = "okay";
};

&cvbs_connector {
	status = "okay";
};

/* ========================= */
/* ✅ 启用模拟音频（AV） */
/* ========================= */
&acodec {
	status = "okay";
};

/* （可选）确保 AIU 打开 */
&aiu {
	status = "okay";
};
